.mobile-nav-nar__main-container {
  height: 4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  color: #ddd;
  background-color: var(--black-300);
}

.mobile-nav-bar__nav-item-container {
  /* max-width: 20%; */
}

.mobile-nav-bar__nav-item-text {
  color: #ddd;
  text-decoration: none;
  font-size: 0.75rem;
  text-shadow: var(--basic-text-shadow);
}
.mobile-nav-bar__nav-item-outer-container {
  height: 100%;
  border-left: 2px solid whitesmoke;
  max-width: 20vw;
  width: 20vw;
}

.mobile-nav-bar__nav-item-inner-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-nav-bar__nav-item-icon {
  margin: 2px;
  height: 1.8rem;
  width: 100%;
  max-width: 38px;
  border-radius: 10px;
  color: whitesmoke;
}
