.contact-page_content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  max-width: 900px;
  margin: 7rem auto;
  background-color: rgb(200, 200, 200);
  box-sizing: content-box;
  padding: 1.5rem;
}

@media (max-width: 600px) {
  .contact-page_content-container {
    flex-direction: column;
    width: 100%;
  }
}
