.contact-page_content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  max-width: 900px;
  margin: auto;
  margin-top: 5rem;
  border-radius: 20px;

  background-color: rgb(230, 230, 230, 0.8);
  box-sizing: content-box;
  padding: 1.5rem;
}

@media (max-width: 600px) {
  .contact-page_content-container {
    flex-direction: column;
    width: 100%;
  }
}
