.social-link__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-link__icon {
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-link__text {
  padding-left: 0.5rem;
}
@media (max-width: 600px) {
  .social-link__icon {
    height: 2rem;
    width: 2rem;
  }
}
