.social-link__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-link__icon {
  height: 3rem;
  width: 3rem;
  background-color: #f64b43;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-link__text {
}
