.social-link__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-link__icon {
  height: 3rem;
  width: 3rem;
  /* background-color: #d12038; */
  /* border-radius: 25px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-link__text {
}
