.page-title__main-container {
  max-width: 17rem;
  width: 17rem;
}
@media (max-width: 600px) {
  .page-title__main-container {
    width: 100%;
    margin: auto;
  }
}
.page-title__content {
}

.page-title__header {
}

.page-title__above-bar {
  height: 3px;
  background-color: #8a1675;
  width: 100%;
}

.social-link__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-link__icon {
  height: 3rem;
  width: 3rem;
  background-color: #8a1675;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-link__text {
}
