.page-title__main-container {
  max-width: 14rem;
  width: 14rem;
}
@media (max-width: 600px) {
  .page-title__main-container {
    width: 100%;
    margin: auto;
  }
}
.page-title__content {
}

.page-title__header {
}

.page-title__above-bar {
  height: 3px;
  background-color: #d12038;
  width: 100%;
}
