.page-title__main-container {
  max-width: 22rem;
  width: 22rem;
}
@media (max-width: 600px) {
  .page-title__main-container {
    max-width: 100%;
    width: 90%;
    margin: auto;
  }
}

.page-title__header {
  margin: 1rem 0;
}
@media (max-width: 600px) {
  .page-title__header {
    margin: 0.5rem auto;
  }
}

.page-title__content {
  margin: 1rem 0;
}
@media (max-width: 600px) {
  .page-title__content {
    margin: 0.5rem auto;
  }
}

.page-title__above-bar {
  height: 3px;
  background-color: var(--primary-color);
  width: 100%;
}
