.about-page-main_hobbies-container {
  padding: 0.5rem 1rem;
  padding-bottom: 1rem;
  width: 100%;
  height: 30%;
  border: 1px solid var(--primary-color-100);
  border-radius: 25px;
  background-color: var(--primary-color-50);
  color: var(--red-700);
}
.about-page-main_hobbies-inner-container {
  width: 100%;
  display: flex;

  justify-content: space-around;
}
@media (max-width: 600px) {
  .about-page-main_hobbies-inner-container {
    flex-direction: column;
  }
}
.hobby-description {
  visibility: hidden;
  border: 2px solid var(--primary-color-500);
  box-shadow: var(--elevation-shadow-1);

  z-index: 9000;
  position: absolute;
  bottom: 0px;
  left: -130px;
  background-color: var(--grey-50);
  width: 25rem;
  height: 25rem;
  padding: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.about-page-main_hobby-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.about-page-main_hobby:hover .hobby-description {
  visibility: visible;
}
.hobby-text {
  color: var(--primary-color-900);
  font-size: 16px;
}

.about-page-main_hobby {
  border: 1px solid var(--primary-color-900);
  overflow: hidden;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: var(--primary-color-200);
}
.about-page-main_hobby-snowboarding {
  padding: 0 0.4rem;
}
.about-page-main_hobby-running {
  padding-left: 0.2rem;
}
.about-page-main_hobby-gaming {
  padding: 0 0.2rem;
}

.about-page-main_hobby-text {
}
