.portfolio-page-content_github-button {
  margin: 0.2rem;
  height: 2rem;
  font-weight: bold;
  padding: 0;
  text-align: center;
  align-self: flex-end;
  border: 0;
  color: #3540c4;
  background-color: transparent;
  cursor: pointer;
}
