.about-page-main_timeline-container {
  margin: 3rem 0;
  position: relative;
  border: 1px solid var(--purple-100);
  min-width: 550px;
  /* min-width: 30rem; */
  width: 100%;
  padding-left: 2rem;
  min-height: 10rem;
  height: 40%;
  background-color: var(--purple-50);
}

.about-page-main_timeline-year-container {
  display: flex;
  justify-content: space-between;
}

.about-page-main_timeline-bar {
  position: absolute;
  left: 0;
  top: 45%;
  height: 0.5rem;
  width: 100%;
  background-color: var(--purple-200);
}

.about-page-main_timeline-item {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 2.5rem;
  padding: 0 0.5rem;
  background-color: var(--yellow-200);
  border: 1px solid var(--yellow-900);
  border-radius: 15px;
  font-size: 0.9rem;
}

.timeline-triangle {
  background-color: var(--yellow-200);
  /* border: 1px solid var(--yellow-900); */

  width: 25px;
  height: 25px;
  position: absolute;
  z-index: -1;
}

.timeline-university-triangle {
  top: -10px;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.timeline-replicon-qa-triangle {
  bottom: -8px;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.timeline-replicon-dev-triangle {
  top: -10px;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.timeline-osprey-triangle {
  right: 40px;
  bottom: -8px;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.about-page-main_timeline-year-item-container {
  display: flex;
}

.divider {
  background-color: var(--purple-100);
  width: 1px;
  height: 100%;
  position: absolute;
}

.timeline-year-label {
  margin-left: -17px;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--purple-500);
  opacity: 0.6;
}

.about-page-main_timeline-university {
  width: 6rem;
  height: 4rem;
  left: 2%;
  bottom: -4.5rem;
}

.about-page-main_timeline-replicon-qa {
  left: 8%;
  bottom: 1rem;
}

.about-page-main_timeline-replicon-dev {
  left: 25%;
  bottom: -3rem;
}

.about-page-main_timeline-osprey {
  /* left: 87%; */
  left: 65%;
  bottom: 1rem;
}

.about-page-main_timeline-item-title {
  color: rgb(109, 69, 5);
  line-height: 1rem;
}
.about-page-main_timeline-item-secondary-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.about-page-main_timeline-item-date {
  font-size: 0.8rem;
  color: rgba(109, 69, 5, 0.7);
}
.about-page-main_timeline-item-info-icon {
  color: rgba(109, 69, 5, 0.7);
  margin-right: -4px;
}

.about-page-main_timeline-item-description-container {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 100;
  width: 15rem;
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid darkgoldenrod;
  height: 10rem;
  visibility: hidden;
}

.about-page-main_timeline-item:hover
  .about-page-main_timeline-item-description-container {
  visibility: visible;
}
