.resume-page_main-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1200px;
  margin: 3rem 0;
  margin-bottom: 5rem;
  border-radius: 20px;
  background-color: var(--grey-200);
  padding: 2.5rem;
}
@media (max-width: 600px) {
  .resume-page_main-container {
    margin-top: 0;
    flex-direction: column;
    width: 100%;
    padding: 2rem 0;
    box-sizing: border-box;
  }
}
.resume-page_resume-container {
  display: flex;
  width: 100%;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .resume-page_resume-container {
    justify-content: center;
  }
}

.resume-page_resume-page {
}

.page-title__main-container {
  align-self: flex-start;
}
.resume-page_page-title {
  align-self: flex-start;
}

.resume-page_title-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.resume-page_title-description {
  margin-bottom: 1rem;
}
