.about-page-main_container {
  max-width: calc(100% - 22rem);
  min-width: 550px;
  flex-grow: 1;
  flex-shrink: 5;
  padding-left: 3rem;
  margin-top: 2rem;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 1200px) {
  .about-page-main_container {
    padding-left: 1rem;
  }
}
@media (max-width: 600px) {
  .about-page-main_container {
    padding-left: 0;
  }
}
.about-page-main_timeline-container {
  position: relative;
  width: 100%;
  min-height: 10rem;
  height: 40%;
  background-color: var(--purple-50);
}
.about-page-main_timeline-bar {
  position: absolute;
  top: 45%;
  height: 1rem;
  width: 100%;
  background-color: var(--purple-200);
}

.about-page-main_hobbies-container {
  width: 100%;
  height: 30%;
  background-color: var(--primary-color-50);
}
.about-page-main_hobbies-inner-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.about-page-main_hobby {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: var(--primary-color-200);
}

.about-page-main_contact-me-btn {
  font-weight: bold;
}
