.about-page-main_timeline-container {
  position: relative;
  min-width: 550px;
  /* min-width: 30rem; */
  width: 100%;
  min-height: 10rem;
  height: 40%;
  background-color: var(--purple-50);
}
.about-page-main_timeline-year-container {
  display: flex;
  justify-content: space-between;
}
.about-page-main_timeline-bar {
  position: absolute;
  top: 45%;
  height: 0.6rem;
  width: 100%;
  background-color: var(--purple-200);
}
.about-page-main_timeline-item {
  position: absolute;
  bottom: -0.75rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--yellow-200);
  border-radius: 50%;
}

.divider {
  /* background-color: ; */
  width: 1px;
  height: 100%;
  position: absolute;
}

.about-page-main_timeline-university {
  left: 2%;
}
.about-page-main_timeline-replicon-qa {
  left: 11%;
}
.about-page-main_timeline-replicon-dev {
  left: 50%;
}
.about-page-main_timeline-osprey {
  left: 87%;
}
