.landing-page_container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 600px) {
  .landing-page_container {
    margin-bottom: 4rem;
  }
}

.landing-page_title {
  text-shadow: var(--basic-text-shadow);
  margin: 1rem 0;
  margin-bottom: 1.5rem;
  font-size: 4.5rem;
}

@media (max-width: 600px) {
  .landing-page_title {
    padding-left: 15%;
    text-align: left;
    font-size: 3rem;
  }
}

.landing-page_tagline {
  text-shadow: var(--basic-text-shadow);
  margin: 1rem 0;
  font-size: 1.4rem;
  text-align: center;
}

@media (max-width: 600px) {
  .landing-page_tagline {
    text-align: left;
    font-size: 1.3rem;
    padding-left: 15%;
    width: 90%;
  }
}

.landing-page_social-bar {
  position: fixed;
  right: 10%;
  bottom: 15%;
}
