.contact-page-form_container {
  width: 25rem;
  height: 25rem;
  background-color: rgba(230, 230, 230, 0.8);
  padding-left: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}
@media (max-width: 600px) {
  .contact-page-form_container {
    margin-top: 0.5rem;
    height: auto;
    width: 100%;
    padding-left: 0;
    align-items: center;
    justify-content: center;
  }
}

.contact-page-form-input_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

@media (max-width: 600px) {
  .contact-page-form-input_container {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
  }
  .contact-page-form-input_container span {
    align-self: flex-start;
    margin-left: 1rem;
    margin-bottom: 0;
    line-height: 2rem;
  }
}

.contact-page-form-input_label {
  font-size: 0.8rem;
  text-align: right;
  flex-basis: 2rem;
  margin: 0.2rem 0.5rem;
}

.contact-page-form_name-input {
  padding: 0 0.5rem;
  border-radius: 10px;
  height: 3rem;
  width: 20rem;
  background-color: rgb(60, 60, 60, 0.2);
  margin: 0.5rem;
}

.contact-page-form_email-input {
  padding: 0 0.5rem;
  height: 3rem;
  width: 20rem;
  border-radius: 10px;
  background-color: rgb(60, 60, 60, 0.2);
  margin: 0.5rem;
}

.contact-page-form_message-input {
  padding: 0 0.5rem;
  border-radius: 10px;
  margin: 0.5rem;
  height: 12rem;
  width: 20rem;
  background-color: rgb(60, 60, 60, 0.2);
}

@media (max-width: 600px) {
  .contact-page-form_name-input {
    margin: 0;
    width: 90%;
    padding: 0.5rem;
  }
  .contact-page-form_email-input {
    margin: 0;
    width: 90%;
    padding: 0.5rem;
  }
  .contact-page-form_message-input {
    margin: 0;
    width: 90%;
    height: 6rem;
    padding: 0.5rem;
  }
}

.contact-page-form_button {
  margin: 0.5rem;
  width: 5rem;
  height: 2rem;
  text-align: center;
  align-self: flex-end;
  border: 0;
  border-radius: 0.25rem;
  background: #d12038;
  color: rgb(230, 230, 230);
  cursor: pointer;
}

@media (max-width: 600px) {
  .contact-page-form_button {
    margin-bottom: 2rem;
    margin-right: 1rem;
  }
}
